@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid limegreen; */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9rem;
    margin: 1.5rem 0 7.6rem;
    padding: 0 .8rem;
}

.header img {
     width: 6.8rem;
     display: block;
 }

 .button-one {
     padding: .3rem 1rem;
     text-transform: capitalize;
     border: 1px solid hsl(322, 100%, 66%);
     color: hsl(322, 100%, 66%);
     background-color: hsl(0,0%,100%);
     border-radius: 1.5rem;
     outline: none;
     font-family: 'Open Sans', sans-serif;
     transition: all ease-in-out 500ms;
 } 

.hero-section {
    text-align: center;
    padding: 0 2.5rem;

}

.hero-section h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    line-height: 2rem;
    color: hsl(192, 100%, 9%);
    font-size: 1.5rem;
}

.hero-section p {
    font-family: 'Open Sans', sans-serif;
    margin: 2rem 0 3rem;
    font-size: 1rem;
    color: hsl(192, 100%, 9%);
    outline: none;
    opacity: .9;
}

.hero-section img {
    width: 18rem;
    height: 13rem;
}

.secondary-btn {
    color: hsl(0,0%,100%);
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 10px 0px;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    transition: all ease-in-out 500ms;
}

.button-four {
    margin-top: .9rem;
    font-weight: 400;
    padding: .8rem 2rem;
    font-size: 1rem;
    box-shadow: none;
    border-radius: .3rem;
}

.button-one:hover {
    background-color: hsl(322, 100%, 66%);
    color: hsl(0,0%,100%);
    cursor: pointer;
    transition: all ease-in-out 500ms;
}

.secondary-btn:hover {
    color: hsl(322, 100%, 66%);
    background-color: hsl(0,0%,100%);
    cursor: pointer;
    transition: all ease-in-out 500ms;
}

.testimonials {
    margin-top: 7.6rem;    
}

.communities {
    margin-bottom: 6.2rem;
}

.testimonials span {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size : 4rem;
    color: hsl(192, 100%, 9%);
}

.testimonials img {
    width: 1.9rem;
    height: 2rem;
    position: relative;
    top: 2rem;
    right: 4rem;
}

.section {
    display: flex;
    flex-direction: column-reverse;
    color: hsl(192, 100%, 9%);
    padding: 4.5rem 0;
    margin: -1rem 0;
    align-items: center;
    max-width: 100%;    
}

.section img {
    width: 18rem;
    margin: 5rem 0;
}
.section p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2rem;
    padding: 0 1rem 2rem;
}
.section h2 {
    font-family: 'Poppins', sans-serif;
    margin: 2rem 0 1.2rem;
    font-weight: 800;
}
.section-two, .section-four {
    background-color: hsl(207, 100%, 98%);
}

.section-three {
    margin: 9rem 0;
}

.section-five {
    justify-content: center;
    align-items: center;
    margin: 9rem 0;
    padding: 0 2rem;

}

.section-five h2 {
    color: hsl(192, 100%, 9%);
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin: 2.5rem 0;
}

.footer-bg img{
        max-width: 100%;
        min-width: 100%;
}

.section-top-2 img {
    max-width: 100%;
    min-width: 100%;
}

.section-top-1 img {
    max-width: 100%;
    min-width: 100%;
}

.section-bottom-1 img {
    max-width: 100%;
    min-width: 100%;
}

.section-bottom-2 img {
    max-width: 100%;
    min-width: 100%;
}

.section-bottom-1-mobile, .section-bottom-2-mobile img {
    display: block;
 }

.section-top-1-mobile, .section-top-2-mobile img {
   display: block;
}

.section-top-1-desktop, .section-top-2-desktop img {
    display: none;
 }

.section-bottom-1-desktop, .section-bottom-2-desktop img {
    display: none;
}

.footer-bg-desktop img {
    display: none;
}

.footer-bg-mobile img {
    display: block;
}

footer {
    max-width: 100%;
}

.footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: -1rem 0;
    padding: 5.5rem 2rem 0;
    background-color: hsl(192, 100%, 9%);
    color: hsl(0,0%,100%);
    max-width: 100%;

}

.footer h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin: 0 0 1.8rem;
}

.footer p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}

.subscribe {
    text-align: right;
}

.input {
    padding: 1rem 9rem 1rem 1rem;
    border-radius: .2rem;
    border: none;
}

.input:focus {
    outline: none;
}

.col-one > img {
    width: 12rem;
    margin: 1.6rem 0;
}

.contacts {
    margin: 3rem 0;
}

.contacts li {
    list-style: none;
}

.contacts img {
    display: block;
}

.phone {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    gap: .7rem;
    margin: 1.8rem 0;
}

.email {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    gap: .7rem;
}

.socials {
    margin-top: 3.5rem;
}

.socials ul {
    display: flex;
    gap: .8rem;
}

@media screen and (min-width: 64rem) {
    .header {
        display: flex;
        justify-content: space-evenly;
        gap: 30rem;
        margin: 2.5rem 0 7.6rem;
        padding: 0;

    }

    .header img {
         width: 15rem;
     }
 
     .button-one {
         padding: .7rem 3rem;
         font-size: 1.2rem;
     } 
    
    .hero-section h1 {
            font-size: 2.5rem;
            margin-top: 4rem; 
        }
    
    .hero-section p {
            margin: 2.5rem 0 3rem;
            font-size: 1.3rem;
            padding: 0 10rem;
        }
    
    .hero-section img {
            width: 56rem;
            height: 46.5rem;
            display: block;
            margin: auto;
        }

    .testimonials {
            display: flex;
            justify-content: right;
        }

     .communities {
                    margin-bottom: 6.2rem;
                    margin-right: -30rem;
                }
    
    .messages {
                    margin-left: 23rem;
                }
                
    .testimonials span {
                    font-size : 6rem;
                }
                
    .testimonials img {
                    display: block;
                    width: 1.9rem;
                    height: 2rem;
                    position: relative;
                    right: 6rem;
                }

     .button-two, .button-three {
        font-size: 1.2rem;
        padding: 1.2rem 5rem;
        font-weight: 600;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 8.7rem;
        padding: 1rem 1.5rem;
        margin: -3rem 0 -1rem;
    }
    
    .section h2 {
        font-size: 2.3rem;
        font-weight: 800;
    }
    
    .section p {
        padding: 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .section img {
        width: 33rem;
        margin: 5rem 0;
    }
    .section-three {
        flex-direction: row-reverse;
        margin: 14rem 0;
    }
    
    .section-five {
        justify-content: center;
        align-items: center;
        margin: 14rem 0;
        padding: 0 2rem;
    }
    
    .section-five h2 {
            font-size: 2.3rem;
        }

.footer {
    flex-direction: row;
    gap: 20rem;
    padding: 6rem 3rem 0;

}

.footer h3 {
    font-size: 1.5rem;
}

.footer p {
    width: 90%;
}

.input {
    border-radius: .21rem;
}

}

@media screen and (min-width: 90rem) {
    .header {
        display: flex;
        justify-content: space-evenly;
        gap: 56.5rem;
        margin: 2.5rem 0 7.6rem;
        padding: 0;

    }

    .header img {
         width: 15rem;
     }
 
     .button-one {
         padding: .7rem 3rem;
         font-size: 1.2rem;
     } 
    
    .hero-section h1 {
            font-size: 3rem;
            margin-top: 5rem; 
        }
    
    .hero-section p {
            margin: 2.5rem 0 3rem;
            font-size: 1.3rem;
            padding: 0 21.7rem;
        }
    
    .hero-section img {
            width: 64rem;
            height: 46.5rem;
            display: block;
            margin: auto;
        }

    .testimonials {
            display: flex;
            justify-content: right;

            
        }
     .communities {
                    margin-bottom: 6.2rem;
                    margin-right: -30rem;
                }
    
    .messages {
                    margin-left: 5rem;
                }
                
    .testimonials span {
                    font-size : 6rem;
                }
                
    .testimonials img {
                    display: block;
                    width: 1.9rem;
                    height: 2rem;
                    position: relative;
                    right: 6rem;
                }

     .button-two, .button-three {
        font-size: 1.2rem;
        padding: 1.2rem 5rem;
        font-weight: 600;
    }

    .section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: left;
        gap: 8.7rem;
        padding: 3rem 8rem;
        margin: -3rem 0 -1rem;
        
        
    }
    
    .section h2 {
        font-size: 2.3rem;
        font-weight: 800;
    }
    
    .section p {
        padding: 0;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .section img {
        width: 33rem;
        margin: 5rem 0;
    }
    .section-three {
        flex-direction: row-reverse;
        margin: 9rem 0;
    }
    
    .section-five {
        justify-content: center;
        align-items: center;
        margin: 9rem 0;
        padding: 0 2rem;
    
    }
    
    .section-five h2 {
            font-size: 2.3rem;
        }
        
.section-bottom-1-mobile, .section-bottom-2-mobile img {
    display: none;
 }

.section-top-1-mobile, .section-top-2-mobile img {
   display: none;
}

.section-top-1-desktop, .section-top-2-desktop img {
    display: block;
 }

.section-bottom-1-desktop, .section-bottom-2-desktop img {
    display: block;
}

.footer-bg-desktop img {
    display: block;
}

.footer-bg-mobile img {
    display: none;
}

.footer {
    flex-direction: row;
    gap: 20rem;
    padding: 6rem 7rem 0;

}

.footer h3 {
    font-size: 1.5rem;
}

.footer p {
    width: 82%;
}

.input {
    border-radius: .21rem;
}

}
